.example-spacer {
  flex: 1 1 auto;
}

.mini-spacer{
  margin-left: 20px;
}

.link-nav-custom{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 25px;
  border-bottom: 1px solid #c4c4c4;
  padding: 10px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  cursor: pointer;
  &:hover{

    background-color: #FF4081;
    color: white;

  }

}


.nom-link{
  margin-left: 10px;
}
